html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

body {
  margin: 80px 0;
}

.heading:after {
  content: "";
  display: block;
  clear: both;
}

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
}

.scores-container {
  float: right;
  text-align: right;
}

.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 3px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}

.score-container:after {
  content: "Score";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

.best-container:after {
  content: "Best";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.game-message {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.73);
  z-index: 100;
  text-align: center;
  -webkit-animation: fade-in 800ms ease 1200ms;
  -moz-animation: fade-in 800ms ease 1200ms;
  animation: fade-in 800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.game-message p {
  font-size: 60px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin-top: 222px;
}

.game-message .lower {
  display: block;
  margin-top: 59px;
}

.game-message a {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  margin-left: 9px;
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: 15px;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  background: rgba(238, 228, 218, 0.35);
  border-radius: 6px;
  float: left;
  margin-right: 15px;
}

.grid-cell:last-child {
  margin-right: 0;
}

.tile-container {
  position: absolute;
  z-index: 2;
}

.tile {
  width: 106.25px;
  height: 106.25px;
  background: #eee4da;
  color: #776e65;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 106.25px;
  font-size: 55px;
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}

.tile.tile-2 {
  background: #eee4da;
  color: #776e65;
}

.tile.tile-4 {
  background: #ede0c8;
  color: #776e65;
}

.tile.tile-8 {
  background: #f2b179;
  color: #f9f6f2;
}

.tile.tile-16 {
  background: #f59563;
  color: #f9f6f2;
}

.tile.tile-32 {
  background: #f67c5f;
  color: #f9f6f2;
}

.tile.tile-64 {
  background: #f65e3b;
  color: #f9f6f2;
}

.tile.tile-128 {
  background: #edcf72;
  color: #f9f6f2;
  font-size: 45px;
}

.tile.tile-256 {
  background: #edcc61;
  color: #f9f6f2;
  font-size: 45px;
}

.tile.tile-512 {
  background: #edc850;
  color: #f9f6f2;
  font-size: 45px;
}

.tile.tile-1024 {
  background: #edc53f;
  color: #f9f6f2;
  font-size: 35px;
}

.tile.tile-2048 {
  background: #edc22e;
  color: #f9f6f2;
  font-size: 35px;
}

.above-game:after {
  content: "";
  display: block;
  clear: both;
}

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0;
}

.restart-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right;
  cursor: pointer;
}

.game-explanation {
  margin-top: 50px;
}

.aws-info {
  margin-top: 30px;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 6px;
  text-align: center;
  border-left: 4px solid #ff9900;
}

.aws-info p {
  margin: 5px 0;
  color: #333;
}

@media screen and (max-width: 520px) {
  .container {
    width: 280px;
    margin: 0 auto;
  }

  h1.title {
    font-size: 50px;
  }

  .game-container {
    margin-top: 20px;
    padding: 10px;
    width: 280px;
    height: 280px;
  }

  .grid-cell {
    width: 57.5px;
    height: 57.5px;
    margin-right: 10px;
  }

  .tile {
    width: 57.5px;
    height: 57.5px;
    line-height: 57.5px;
    font-size: 30px;
  }

  .tile.tile-128,
  .tile.tile-256,
  .tile.tile-512 {
    font-size: 25px;
  }

  .tile.tile-1024,
  .tile.tile-2048 {
    font-size: 20px;
  }
}
